<DOCTYPE html>
<html ng-app>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="ContractController">
       Name<input type="text" ng-model="newcontact.name"/>
       Email<input ng-model="newcontact.email"/>
       Phone Number<input ng-model="newcontact.phoneNo"/>
       <button ng-click="add()">Add</button>
       <h3>Contact List</h3>
       <ul>
         <li ng-repeat="contact in contacts">Name: {{contact.name}} email: {{contact.email}} Phone Number: {{contact.phoneNo}}
          <button ng-click="delete(contact.id)">Delete</button>
         </li>
       </ul>
    </div>

    <script>
      var uid=1;
      function ContractController($scope){
        $scope.contacts=[{id:0,name:'Mary',email:'mary@hotmail.com', phoneNo:'333-333'}];
        $scope.add=function(){
          $scope.newcontact.id=uid++;
          $scope.contacts.push($scope.newcontact);
          $scope.newcontact={};
        }
        $scope.delete=function(id){
          for (i in $scope.contacts){
            if ($scope.contacts[i].id===id){
              $scope.contacts.splice(i,1);
            }
        }
      }
    }
    </script>
  </body>
</html>